<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="formMappings" type="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<formMappings>
		<add key="login" value="RadiologyReportEvaluation.Forms.LoginForm" />
		<add key="upload" value="RadiologyReportEvaluation.Forms.UploadForm" />
		<add key="score" value="RadiologyReportEvaluation.Forms.ScoreForm" />
		<add key="export" value="RadiologyReportEvaluation.Forms.ExportForm" />
	</formMappings>
</configuration>